* {
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    color: #291f1a;
    font-weight: 300;
    margin: 0;
    padding: 0;

}

span {
    color: #1ac056;
}

a {
    transition: all 0.3s;
}

h2 {
    text-align: center;
}

section {
    padding: 0 80px 100px;
    width: 100%;
    /* top left-right bottom */
}


/* GENERAL STYLES - END */

/* NAVIGATION - START */

#main-nav {
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 20;
}

#main-nav ul {
    float: right;
}

#main-nav ul li {
    display: inline-block;
    padding: 20px 30px;
}

#main-nav ul li a {
    color: #1ac056;
    text-decoration: none;
}

#main-nav ul li a:hover {
    color: #291f1a;
}


/* NAVIGATION - END */

/* HEADER - START */

#main-header {
    background-image: url(../img/header-background.jpg);
    background-size: cover;
    background-position: center;
    height: 500px;
    color: #fff;
}

#main-header .main-header-content {
    padding: 30%vh;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}


#main-header .main-header-content h1 {
    font-size: 4em;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

#main-header .main-header-content h2 {
    font-weight: 300;
    font-size: 2em;
}

/*header stop*/

/*about start*/

#about {
    overflow: hidden;
    background-color: #f9fcfe;
}

#about figure {
    width: 100%;
    float: left;
    text-align: center;
    margin: 0;
}

#about figure img {
    text-align: center;
    max-height: 350px;
    max-width: 100%;
    border: 10px solid #fff;
    border-radius: 15px;
}


#about article {
    width: 100%;
    float: left;
}

#about h2,
#portfolio h2,
#skills h2,
#contact h2 {
    font-size: 30px;
    font-weight: 300;
    margin-top: 60px;
    margin-bottom: 35px;
}


/*skills start*/

#skills p,
#skills .skills-icons {
    text-align: center;
}

#skills .skills-icons .skills-icons-item {
    display: inline-block;
    margin: 30px;
}

/*skills stop*/

/*portfolio start*/

#portfolio .portfolio-items #portfolio-item-1 {
    background-image: url(../img/portfolio1.jpg);
}


#portfolio .portfolio-items #portfolio-item-2 {
    background-image: url(../img/portfolio2.jpg);
}

#portfolio .portfolio-items #portfolio-item-3 {
    background-image: url(../img/portfolio3.jpg);
}



#portfolio .portfolio-items .portfolio-item {
    height: 350px;
    background-repeat: no-repeat;
    width: 100%;
    background-position: center;
    background-size: cover;
    display: inline-block;
    position: relative;
    padding: 0;

}

#portfolio .portfolio-items {
    font-size: 0px;
    text-align: center;
    padding: 0;

}

#portfolio .portfolio-items .portfolio-item .item-mask {
    background-color: rgba(42, 61, 79, 0.8);
    height: 100%;
    width: 100%;
    opacity: 0;
    position: absolute;
    font-size: initial;
    transition: all 0.3s ease-in-out;

}

#portfolio .portfolio-items .portfolio-item .item-mask:hover {
    opacity: 1;
}


#portfolio .padnon {
    padding: 0;
}


#portfolio .portfolio-items .portfolio-item .item-mask .item-content {
    border: 1px solid white;
    margin: 10px;
    height: 330px;
    position: relative;
}

#portfolio .portfolio-items .portfolio-item .item-mask .item-content .item-content-iner {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    padding: 5px;
    color: white;
}


#portfolio .portfolio-items .portfolio-item .item-mask .item-content .item-content-iner a {
    color: white;
}

#portfolio .portfolio-items .portfolio-item .item-mask .item-content .item-content-iner a:hover {
    color: #1ac056;
}


#contact {
    background-color: #213b50;
    color: #fff;
    overflow: hidden;
}

#contact .contact-data,
#contact .contact-form {
    width: 100%;
    float: left;
}

#contact .contact-data h2 {
    text-align: left;
    font-size: 38px;
}

#contact .contact-data p {
    font-style: normal;
    line-height: 25px;
    margin: 72px 0;
}

#contact .icon-social-media a {
    display: inline-block;
    height: 38px;
    width: 38px;
    margin-right: 30px;
    text-align: center;
    line-height: 38px;
    border: 1px solid white;
    font-size: 22px;
    color: white;

}


#contact .icon-social-media a:hover {
    color: #213b50;
    background-color: #fff;
}

#contact .contact-form {
    margin-top: 100px;

}

#contact .contact-form input {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #2b4a64;
    background-color: #2b4a64;
    color: white;

}


#contact .contact-form input {
    background-color: background-color: #2b4a64
}


#contact .contact-form input:focus {
    background-color: #426684;
}

#contact .contact-form textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #2b4a64;
    background-color: #2b4a64;
    color: white;
}

#contact .contact-form textarea:focus {
    background-color: #426684
}

#contact .contact-form input[type="submit"] {
    width: auto;
    padding: 15px 30px;
    float: right;
    text-transform: uppercase;
    border: 1px solid #1ac056;
    background-color: #1ac056;
    font-weight: 600;
    color: white;

}

#contact .contact-form input[type=submit]:hover {
    color: #1ac056;
    background-color: white;
}

footer {
    padding: 0 80px;
    background-color: #142634;
    color: white;
}
