@media all and (max-width: 1200px) @media all and (max-width: 992px) {
    #main-header .main-header-content {
        padding: 10%;
    }
}



@media all and (max-width: 768px) {
    about {
        padding: 0 40px 50px;
    }

    h1 {
        font-size: 3em;

    }
    h2 {
        font-size: 1.5em;

    }
}


@media all and (max-width: 572px) {
    section {
        padding: 0 10px 30px;
    }
}
