body {
    background-color: #f3f3f3;
    
}

.container {
     max-width: 450px;
}

h2 {
    margin-top: 0px;
}
#container {
    display: flex;
    min-height: 100vh;
    position: relative;
    align-items: center;
    padding: 30px 0px;
}

#main-container {
    display: block;
    margin: 0 auto;
    align-items: center;
    justify-content: center; 
}

#logandreg, #remind {
    background-color: #fff;
    margin: 30px 0;
}

#colorissimo-logo {
   height: 70px;
   margin: 0 auto;
   display: block;
    
}

form {
    margin: 0 auto;
    padding: 30px;
}

#password-div {
    position: relative;
}

#password-preview {
    position: absolute;
    background: url(../img/icons2.png);
    background-repeat: no-repeat;
    width: 30px;
    height: 18px;
    top: 10px;
    right: 10px;
    opacity: .5;

}

#password-preview:hover {
    opacity: 1;
}

#check1,
#check2,
#check3 {
    display: flex;
   
}

#check1 label,
#check2 label,
#check3 label {
    font-weight: 300;
}

input[type=checkbox] {
    margin-right: 15px;
}

#btn-reg,
#btn-log {
    background-color: #3d5383;
    color: #fff;
    margin: 0px auto;
    display: block;
}

#btn-reg {
    margin-top: 15px;
}

a {
    text-align: center;
    display: block;
    margin: 15px 0;
    text-decoration: none;
}

ul li {
    width: 50%;
}

ul li a {
    margin: 0;
}

 
#remind {
    display: none;
}

