body {
    background-color: #f3f3f3;
    display: flex;
    min-height: 100vh;
    position: relative;
    align-items: center;
    padding: 30px 0px;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    
}

.container {
    max-width: 450px;
    width: 100%;
    
}

h2 {
    margin-top: 0px;
}


#auth-container {
    display: block;
    align-items: center;
    justify-content: center; 
    margin: 30px 0; 
}


#logo {
   height: 80px;
   margin: 0 auto;
   display: block; 
}

form {
    margin: 0 auto;
    padding: 30px;
    background-color: #fff;
    border-bottom-left-radius: 5px;
     border-bottom-right-radius: 5px;
}
a {
    text-align: center;
    display: block;
    text-decoration: none;
}

#auth-container input {
    box-shadow: none;
}

#check1 label,
#check2 label,
#check3 label {
    font-weight: 300;
}


#btn-reg, #btn-log {
    background-color: #3d5383;
    color: #fff;
    margin: 0px auto;
    display: block;
    border-radius: 0px;
    font-size: 16px;
}

#btn-reg {
    margin-top: 15px;
}

#link-remind {
    font-size: 12px;
    color: #457db9;
}


ul {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-top: 30px;
    background-color: #519c96;
    color: #fff;
    border: 0;
 
    
}

#auth-container>ul>li {
    width: 50%;
}



#auth-container>ul>li:first-of-type a {
     border-top-right-radius: 0;
}

#auth-container>ul>li:nth-of-type(2) a {
     border-top-left-radius: 0;
}


li>a {
    padding: 15px 0;
}


li:hover {
    background-color: #d8d8d8;
}

li a {
    margin: 0;
    color: white;
    background-color: transparent;
}

li>a:hover {
    color: #fff;
}

.nav-tabs>li>a {
    margin-right: 0;
}



.nav>li>a:focus, .nav>li>a:hover {
    background-color: transparent;
}

li:hover {
    background-color: transparent;
}


.nav-tabs>li>a:hover {
    border: 0;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    border: 0;
}


.nav-tabs>li {
    margin-bottom: -3px;
}
