body {
    background-color: #f3f3f3;
}


#main-conteiner {
/*
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
*/
    max-width: 450px;
    background-color: #fff;
    margin: 0 auto;
    min-height: 0;
}

#main-conteiner:before {
    min-height: 50px;
    content: '';
    display: block;
    background-color: #f3f3f3
}

#logandreg, #remind {
    padding: 50px;
}

form {
    margin: 0 auto;
}

h2 {
    margin-left: -15px;
}

#password-div {
    position: relative;
}

#password-preview {
    position: absolute;
    background: url(../img/icons2.png);
    background-repeat: no-repeat;
    width: 30px;
    height: 18px;
    top: 10px;
    right: 10px;
    opacity: .5;

}

#password-preview:hover {
    opacity: 1;
}

#check1,
#check2,
#check3 {
    display: flex;
    width: 100%;
    margin-left: -15px;
}

#check1 label,
#check2 label,
#check3 label {
    font-weight: 300;
}

input[type=checkbox].form-check-input {
    margin-right: 15px;
}

#btn-reg,
#btn-log {
    background-color: #3d5383;
    float: right;
    color: white;
    margin-top: 15px;
}


#log #user {
    margin-top: 20px;
}

ul {
    margin: 0px -15px;
}

ul li {
    width: 50%;
}

ul li a {
    text-decoration: none;
    font-size: 12px;
    text-align: center;
    padding: 10px;
}

#btn-remind {
    float: right;
}

#remind {
    display: none;
}