@media (max-width:768px) {
    body {
        overflow: scroll;
        text-align: center;
    }
    #main-header {
        padding: 15px;
    }
    #main-header img {
        min-height: 20px;
    }
    #content {
        padding: 15px;
        height: auto;
        background-position: 190% 5%;
/*
        display: flex;
        justify-content: center;
*/
    }
    #content-inner #main-info p:first-child {
        font-size: 1.4em;
        
    }

    #icon figure {
        width: 100%;
        margin: 0;
    }
    .icons {
        height: 15vh;
    }

    #buttons {
        font-size: 0px;
    }
    .button {
        width: 49%;
        font-size: 16px;
        margin: 0 auto;
    }
    .button:first-child {
        margin-right: 2%;
    }

