/*general style start*/

* {

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    color: #231f20;
    font-family: "Rajdhani", sans-serif;
    font-size: 15px;
    margin: 0;

}

#main-header,
footer {
    background-color: #fff;
}

#accept,
#resignation,
#form-section {
    display: none;
    float: left;
    justify-content: center;
}

h1 {
    font-size: 32px;
    margin: 0 auto;
}

h2 {
    font-size: 28px;
    margin: 0 auto;
}

/*general style stop*/

/*header start*/

#main-header {
    height: 15vh;
    min-height: 60px;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: left;
    max-width: 1200px;
    padding: 0px 15px;

}

#main-header img {
    height: 5vh;
    min-height: 31px;
}

/*header stop*/

#content {
    background-image: url('../img/backgroun-newsletter.svg');
    background-repeat: no-repeat;
    background-position: 90% 40%;
    min-height: 70vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    background-color: #edebee;
}

#content-inner {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 15px;
}

.bold {
    font-weight: 600;
}

.first {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 15px;

}
.lead {
    margin-bottom: 100px;
    font-size: 18px;
    line-height: 20px;
}

/*main-info start*/

#main-info p,
#accept p,
#form-section p,
#resignation p {
    margin: 0 auto;
}

#main-info h1,
#accept h1,
#form-section h1,
#resignation h1 {
    color: #d9232e;
/*    font-size: 1.8em;*/
    font-weight: 400;
}

/*main-info stop*/

/* icon start*/

#icon {
    width: 900px;
    text-align: left;
    font-size: 0;
    margin: 0 -15px;
}

#icon figure {
    display: inline-block;
    width: 33.33%;
    margin: 0;
    font-size: initial;
    padding: 0 15px;
}

.icons {
    height: 90px;
    margin: 5vh 0 2vh;
}

#icon figure h2 {
    font-weight: 500;

}

#icon figure p {
    font-size: 0.9em;
    /*    margin-bottom: 20px;*/
}

/*section icon stop*/

/*section comment start*/

#coment span {
    color: #d9232e;
    font-weight: bold;
    margin-bottom: 4em;
}

/*section comment stop*/

/*section buttons start*/

.button {
    border-radius: 8px;
    color: #fff;
    width: 130px;
    border: 0px;
    margin-right: 20px;
    margin-top: 20px;
    font-size: 1em;
    padding: 5px 20px;
    font-weight: 500;
    font-family: "Rajdhani";
    white-space: nowrap;
}

.long-button {
    width: auto;
}

.btn-red {
    background-color: #d9232e;
}

.btn-green {
    background-color: #57a800;
}

/*section buttons stop*/

.bold {
    font-weight: 600;
}

/*footer start*/

footer {
    min-height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #fff;
}

/*footer stop*/

.radio-btn {
    border: 2px solid #d9232e;
    width: 12px;
    height: 12px;
    background-color: #fff;
    margin-left: -22px;
    float: left;
    margin-top: 3px;
}

.label-style {
    padding: 0px 10px 10px 22px;
    max-width: 700px;
}

textarea {
    border: 1px solid #d9232e;
    width: calc(40% + 22px);
    height: 15vh;
    display: none;
    margin-left: -22px;
    padding: 10px;
}

.radio-input {
    display: none;
}

.radio-input:checked + .radio-btn {
    background-color: #d9232e;

}

.radio-input:checked + .radio-btn + textarea {
    display: block;
    flex-direction: column;
   
    
}

form {
    margin-top: 10px;
}

