/*general style start*/
* {
   
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
    
}

body {
    width: 100%;
    height: 100vh;
    color: #231f20;
    font-family: "Rajdhani", sans-serif;
    font-size: 1em;
    margin: 0;
}

#main-header,
footer {
    background-color: #fff;
}
#accept, #resignation, #form-section {
    display: none;
    float: left;
    justify-content: center;
   
   
}
/*general style stop*/


/*header start*/

#main-header {
    height: 15vh;
    min-height: 60px;
    max-width: 1300px;
    margin: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 50px;
    

}

#main-header img {
    height: 5vh;
    min-height: 31px;
}

/*header stop*/
#content {
    background-color: #edebee;
    background-image: url('../img/backgroun-newsletter.svg');
    background-repeat: no-repeat;
    background-position: 90% 40%;
    min-height: 70vh;
    margin: 0;
    padding: 50px;
}

#content-inner {
    width: 100%;
    max-width: 1200px;
/*    margin: 0 auto; */
}


/*main-info start*/

#main-info p, #accept p, #form-section p , #resignation p{
    margin: 0px;
}

#main-info p:first-child, #accept p:first-child, #form-section p:first-child, #resignation:first-child {
    color: #d9232e;
    font-size: 1.8em;
    font-weight: 400;
}

/*main-info stop*/

/* icon start*/
#icon{
    width: 900px;
    text-align: left;
}

#icon figure {
    display: inline-block;
    width: 30%;
    margin: 0;
}

.icons {
    height: 90px;
    margin: 5vh 0 2vh;
}

#icon figure h1 {
    font-weight: 500;

}

#icon figure p {
    font-size: 0.9em;
/*    margin-bottom: 20px;*/

}

/*section icon stop*/

/*section comment start*/

#coment span {
    color: #d9232e;
    font-weight: bold;
    margin-bottom: 4em;
}

/*section comment stop*/

/*section buttons start*/

.button {
    border-radius: 8px;
    color: #fff;
    width: 130px;
    border: 0px;
    margin-right: 20px;
    margin-top: 20px;
    font-size: 1em;
    padding: 5px 20px;
    font-weight: 500;
    font-family: "Rajdhani";
    white-space: nowrap;

}

.long-button {
    width: auto;
    
}

.btn-red {
    background-color: #d9232e;
}

.btn-green {
    background-color: #57a800;
}

/*section buttons stop*/

textarea {
    border: 1px solid;
    border-color: #d9232e;
    width: 40%;
    height: 15vh;
}
input[type:"radio" i] {
    border-radius: 0px;
    
}
/*footer start*/
.bold {
    font-weight: 600; 
}
footer {
    min-height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #fff;
}

/*footer stop*/

